In [2]:
import yfinance as yf

yf_data = yf.download(['ADA-USD', 'BNB-USD', 'BTC-USD', 'ETH-USD'], '2016-1-1')
yf_data

[*********************100%***********************]  4 of 4 completed

Price      Adj Close                                            Close  \
Ticker       ADA-USD     BNB-USD       BTC-USD      ETH-USD   ADA-USD
Date
2016-01-01       NaN         NaN    434.334015          NaN       NaN
2016-01-02       NaN         NaN    433.437988          NaN       NaN
2016-01-03       NaN         NaN    430.010986          NaN       NaN
2016-01-04       NaN         NaN    433.091003          NaN       NaN
2016-01-05       NaN         NaN    431.959991          NaN       NaN
...              ...         ...           ...          ...       ...
2024-12-31  0.843765  700.986877  93429.203125  3332.531738  0.843765
2025-01-01  0.917592  706.512939  94419.757812  3353.504150  0.917592
2025-01-02  0.961345  705.678589  96886.875000  3451.392578  0.961345
2025-01-03  1.090376  713.643555  98107.429688  3605.009766  1.090376
2025-01-04  1.061656  713.719543  97875.140625  3603.365234  1.061656

Price                                                  High              ...  \
Ticker         BNB-USD       BTC-USD      ETH-USD   ADA-USD     BNB-USD  ...
Date                                                                     ...
2016-01-01         NaN    434.334015          NaN       NaN         NaN  ...
2016-01-02         NaN    433.437988          NaN       NaN         NaN  ...
2016-01-03         NaN    430.010986          NaN       NaN         NaN  ...
2016-01-04         NaN    433.091003          NaN       NaN         NaN  ...
2016-01-05         NaN    431.959991          NaN       NaN         NaN  ...
...                ...           ...          ...       ...         ...  ...
2024-12-31  700.986877  93429.203125  3332.531738  0.872263  713.598328  ...
2025-01-01  706.512939  94419.757812  3353.504150  0.929422  709.198975  ...
2025-01-02  705.678589  96886.875000  3451.392578  0.979082  714.438660  ...
2025-01-03  713.643555  98107.429688  3605.009766  1.116099  715.096863  ...
2025-01-04  713.719543  97875.140625  3603.365234  1.107277  721.004700  ...

Price                Low                   Open                            \
Ticker           BTC-USD      ETH-USD   ADA-USD     BNB-USD       BTC-USD
Date
2016-01-01    427.515015          NaN       NaN         NaN    430.721008
2016-01-02    431.869995          NaN       NaN         NaN    434.622009
2016-01-03    424.705994          NaN       NaN         NaN    433.578003
2016-01-04    429.084015          NaN       NaN         NaN    430.061005
2016-01-05    429.675995          NaN       NaN         NaN    433.069000
...                  ...          ...       ...         ...           ...
2024-12-31  91914.031250  3311.412598  0.860024  704.146301  92643.250000
2025-01-01  92788.125000  3310.255859  0.843766  700.986877  93425.101562
2025-01-02  94201.570312  3348.352051  0.917654  706.512451  94416.289062
2025-01-03  96034.617188  3421.831543  0.961347  705.678589  96881.726562
2025-01-04  97606.851562  3575.831543  1.090323  713.856567  98167.570312

Price                          Volume
Ticker          ETH-USD       ADA-USD       BNB-USD      BTC-USD       ETH-USD
Date
2016-01-01          NaN           NaN           NaN     36278900           NaN
2016-01-02          NaN           NaN           NaN     30096600           NaN
2016-01-03          NaN           NaN           NaN     39633800           NaN
2016-01-04          NaN           NaN           NaN     38477500           NaN
2016-01-05          NaN           NaN           NaN     34522600           NaN
...                 ...           ...           ...          ...           ...
2024-12-31  3356.394775  6.770891e+08  2.372887e+09  43625106843  2.084545e+10
2025-01-01  3332.406494  9.260951e+08  1.420235e+09  24519888919  1.419541e+10
2025-01-02  3353.412109  1.199917e+09  1.880665e+09  46009564411  2.224357e+10
2025-01-03  3451.680908  2.503147e+09  1.822244e+09  35611391163  2.187730e+10
2025-01-04  3607.426514  1.954441e+09  1.743114e+09  34334195712  2.122038e+10

[3292 rows x 24 columns]

In [12]:
from binance.client import Client as bnb_client
from datetime import datetime
import pandas as pd

univ = ['BTCUSDT','ETHUSDT','ADAUSDT','BNBUSDT','XRPUSDT','DOTUSDT','MATICUSDT']

client = bnb_client(tld='US')

def get_price_data_for_coin(coin, freq, start_date):
    bn_data = client.get_historical_klines(coin, freq, start_date)
    columns = ['open_time','open','high','low','close','volume','close_time','quote_volume',
        'num_trades','taker_base_volume','taker_quote_volume','ignore']

    bn_data = pd.DataFrame(bn_data, columns=columns)
    bn_data['open_time'] = bn_data['open_time'].map(lambda x: datetime.utcfromtimestamp(x / 1000))
    bn_data['close_time'] = bn_data['close_time'].map(lambda x: datetime.utcfromtimestamp(x / 1000))
    return bn_data

px = {}

for coin in univ:
    px[coin] = get_price_data_for_coin(coin, '4h', '2020-01-01').set_index('open_time')

px[uni]

,open_time,open,high,low,close,volume,close_time,quote_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
0,2020-01-01 00:00:00,7180.46000000,7238.03000000,7175.62000000,7230.71000000,12.76044500,2020-01-01 03:59:59.999,92038.71492464,136,6.77459900,48856.54532507,0
1,2020-01-01 04:00:00,7226.19000000,7231.70000000,7196.20000000,7205.50000000,1.11132000,2020-01-01 07:59:59.999,8019.12142380,64,0.51825300,3740.42331552,0
2,2020-01-01 08:00:00,7209.50000000,7231.17000000,7181.17000000,7195.80000000,2.09735800,2020-01-01 11:59:59.999,15104.19833234,61,1.10531000,7957.89489576,0
3,2020-01-01 12:00:00,7193.32000000,7244.43000000,7193.32000000,7233.02000000,7.53150600,2020-01-01 15:59:59.999,54379.11998954,111,4.23535400,30569.13569131,0
4,2020-01-01 16:00:00,7237.54000000,7245.54000000,7215.51000000,7223.72000000,5.49440100,2020-01-01 19:59:59.999,39733.51835241,80,2.65822100,19232.35402975,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10973,2025-01-03 20:00:00,98558.55000000,98776.30000000,98075.12000000,98186.71000000,2.38019000,2025-01-03 23:59:59.999,234357.01461930,425,0.60291000,59358.18230790,0
10974,2025-01-04 00:00:00,98186.71000000,98314.21000000,97841.62000000,98255.71000000,1.33372000,2025-01-04 03:59:59.999,130840.45336630,400,0.70188000,68870.62868050,0
10975,2025-01-04 04:00:00,98164.22000000,98285.71000000,97849.51000000,98228.71000000,0.82079000,2025-01-04 07:59:59.999,80538.27712980,176,0.58289000,57210.62872540,0
10976,2025-01-04 08:00:00,98249.06000000,98277.88000000,97607.31000000,97833.73000000,0.87712000,2025-01-04 11:59:59.999,85940.98378590,215,0.68848000,67462.23476700,0
10977,2025-01-04 12:00:00,97914.47000000,97921.32000000,97788.75000000,97846.65000000,0.08156000,2025-01-04 15:59:59.999,7980.63822540,15,0.04786000,4684.98462480,0