In [2]:
import yfinance as yf

yf_data = yf.download(['ADA-USD', 'BNB-USD', 'BTC-USD', 'ETH-USD'], '2016-1-1')
yf_data

[*********************100%***********************]  4 of 4 completed

Price      Adj Close                                            Close  \
Ticker       ADA-USD     BNB-USD       BTC-USD      ETH-USD   ADA-USD
Date
2016-01-01       NaN         NaN    434.334015          NaN       NaN
2016-01-02       NaN         NaN    433.437988          NaN       NaN
2016-01-03       NaN         NaN    430.010986          NaN       NaN
2016-01-04       NaN         NaN    433.091003          NaN       NaN
2016-01-05       NaN         NaN    431.959991          NaN       NaN
...              ...         ...           ...          ...       ...
2024-12-31  0.843765  700.986877  93429.203125  3332.531738  0.843765
2025-01-01  0.917592  706.512939  94419.757812  3353.504150  0.917592
2025-01-02  0.961345  705.678589  96886.875000  3451.392578  0.961345
2025-01-03  1.090376  713.643555  98107.429688  3605.009766  1.090376
2025-01-04  1.061656  713.719543  97875.140625  3603.365234  1.061656

Price                                                  High              ...  \
Ticker         BNB-USD       BTC-USD      ETH-USD   ADA-USD     BNB-USD  ...
Date                                                                     ...
2016-01-01         NaN    434.334015          NaN       NaN         NaN  ...
2016-01-02         NaN    433.437988          NaN       NaN         NaN  ...
2016-01-03         NaN    430.010986          NaN       NaN         NaN  ...
2016-01-04         NaN    433.091003          NaN       NaN         NaN  ...
2016-01-05         NaN    431.959991          NaN       NaN         NaN  ...
...                ...           ...          ...       ...         ...  ...
2024-12-31  700.986877  93429.203125  3332.531738  0.872263  713.598328  ...
2025-01-01  706.512939  94419.757812  3353.504150  0.929422  709.198975  ...
2025-01-02  705.678589  96886.875000  3451.392578  0.979082  714.438660  ...
2025-01-03  713.643555  98107.429688  3605.009766  1.116099  715.096863  ...
2025-01-04  713.719543  97875.140625  3603.365234  1.107277  721.004700  ...

Price                Low                   Open                            \
Ticker           BTC-USD      ETH-USD   ADA-USD     BNB-USD       BTC-USD
Date
2016-01-01    427.515015          NaN       NaN         NaN    430.721008
2016-01-02    431.869995          NaN       NaN         NaN    434.622009
2016-01-03    424.705994          NaN       NaN         NaN    433.578003
2016-01-04    429.084015          NaN       NaN         NaN    430.061005
2016-01-05    429.675995          NaN       NaN         NaN    433.069000
...                  ...          ...       ...         ...           ...
2024-12-31  91914.031250  3311.412598  0.860024  704.146301  92643.250000
2025-01-01  92788.125000  3310.255859  0.843766  700.986877  93425.101562
2025-01-02  94201.570312  3348.352051  0.917654  706.512451  94416.289062
2025-01-03  96034.617188  3421.831543  0.961347  705.678589  96881.726562
2025-01-04  97606.851562  3575.831543  1.090323  713.856567  98167.570312

Price                          Volume
Ticker          ETH-USD       ADA-USD       BNB-USD      BTC-USD       ETH-USD
Date
2016-01-01          NaN           NaN           NaN     36278900           NaN
2016-01-02          NaN           NaN           NaN     30096600           NaN
2016-01-03          NaN           NaN           NaN     39633800           NaN
2016-01-04          NaN           NaN           NaN     38477500           NaN
2016-01-05          NaN           NaN           NaN     34522600           NaN
...                 ...           ...           ...          ...           ...
2024-12-31  3356.394775  6.770891e+08  2.372887e+09  43625106843  2.084545e+10
2025-01-01  3332.406494  9.260951e+08  1.420235e+09  24519888919  1.419541e+10
2025-01-02  3353.412109  1.199917e+09  1.880665e+09  46009564411  2.224357e+10
2025-01-03  3451.680908  2.503147e+09  1.822244e+09  35611391163  2.187730e+10
2025-01-04  3607.426514  1.954441e+09  1.743114e+09  34334195712  2.122038e+10

[3292 rows x 24 columns]

In [14]:
from binance.client import Client as bnb_client
from datetime import datetime
import pandas as pd

univ = ['BTCUSDT','ETHUSDT','ADAUSDT','BNBUSDT','XRPUSDT','DOTUSDT','MATICUSDT']

client = bnb_client(tld='US')

def get_price_data_for_coin(coin, freq, start_date):
    bn_data = client.get_historical_klines(coin, freq, start_date)
    columns = ['open_time','open','high','low','close','volume','close_time','quote_volume',
        'num_trades','taker_base_volume','taker_quote_volume','ignore']

    bn_data = pd.DataFrame(bn_data, columns=columns)
    bn_data['open_time'] = bn_data['open_time'].map(lambda x: datetime.utcfromtimestamp(x / 1000))
    bn_data['close_time'] = bn_data['close_time'].map(lambda x: datetime.utcfromtimestamp(x / 1000))
    return bn_data

px = {}

for coin in univ:
    px[coin] = get_price_data_for_coin(coin, '1d', '2020-01-01').set_index('open_time')

px[univ[0]]

,open,high,low,close,volume,close_time,quote_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
open_time,,,,,,,,,,,
2020-01-01,7180.46000000,7245.54000000,7175.62000000,7195.65000000,31.40388300,2020-01-01 23:59:59.999,226629.00992921,491,15.81508900,114122.56869675,0
2020-01-02,7191.39000000,7210.05000000,6934.29000000,6961.80000000,67.00440700,2020-01-02 23:59:59.999,476379.33805488,738,38.75048100,276050.88315223,0
2020-01-03,6958.14000000,7404.24000000,6877.78000000,7345.65000000,102.62138600,2020-01-03 23:59:59.999,742763.23677920,1697,61.55140400,444647.89383045,0
2020-01-04,7344.55000000,7403.98000000,7282.25000000,7349.45000000,32.27137200,2020-01-04 23:59:59.999,236709.95916405,481,15.32945900,112470.99242687,0
2020-01-05,7363.88000000,7489.84000000,7332.96000000,7364.19000000,67.24763800,2020-01-05 23:59:59.999,500336.38086466,678,44.70171900,332796.23187747,0
...,...,...,...,...,...,...,...,...,...,...,...
2024-12-31,92804.77000000,96151.43000000,92097.87000000,93500.00000000,21.22961000,2024-12-31 23:59:59.999,1999653.53482760,3016,15.23199000,1435112.27609150,0
2025-01-01,93500.00000000,95073.76000000,92990.95000000,94701.87000000,18.38268000,2025-01-01 23:59:59.999,1725505.85422080,1910,10.21990000,961596.49588940,0
2025-01-02,94650.20000000,97777.00000000,94394.34000000,96856.15000000,16.19636000,2025-01-02 23:59:59.999,1553018.67080980,2656,11.87478000,1137911.17308490,0
2025-01-03,96992.78000000,98897.97000000,96181.90000000,98186.71000000,14.51609000,2025-01-03 23:59:59.999,1418540.53980920,2650,7.32370000,715522.35613790,0
2025-01-04,98186.71000000,98314.21000000,97607.31000000,97907.48000000,3.15661000,2025-01-04 23:59:59.999,309555.06449070,817,2.06417000,202447.92965950,0