Use macro indicators for reversal or volatility / dislocation: implied volatility, realized volatility, return dispersion, pairwise correlation.

In [ ]:
def get_outcome_out_sample(px_close_df, best_in_sample_sharpe_ratios, strategy_weights):
    period_start = px_close_df.index[len(px_close)//2+1]
    period_end = px_close_df.index[-1]
    ticker_to_sharpe_data = dict()
    ticker_to_net_returns_data = dict()
    for ticker in ['BTCUSDT','ETHUSDT']:
        strat_holdings_df = get_sample_trade_outcomes(
            ticker,
            px_close_df,
            best_in_sample_sharpe_ratios[ticker]["witnessing_buy_time"],
            best_in_sample_sharpe_ratios[ticker]["witnessing_sell_time"],
            best_in_sample_sharpe_ratios[ticker]["witnessing_initial_cash"],
            period_start,
            period_end)
        net_returns = get_net_returns(ticker, px_close_df, strat_holdings_df)
        sharpe_ratio = net_returns.mean() / net_returns.std() * np.sqrt(365 * 6)
        
        ticker_to_sharpe_data[ticker] = sharpe_ratio
        ticker_to_net_returns_data[ticker] = net_returns
        
        print(f"Outcome calculated for ticker {ticker}.")
    
    all_net_returns_df = pd.DataFrame(ticker_to_net_returns_data)
    combo = (all_net_returns_df * strategy_weights).sum(1)
    return all_net_returns_df, combo

In [5]:
import pandas as pd

returns_data = {
    ("0.7", "0.7", "0.5", "3.0", "10.0", "1d", "5*2"): {
        "total sr": 0.816588,
        "in-sample sr": 0.811953,
        "out-sample sr": 0.849927
    },
    ("0.7", "0.7", "0.5", "2.5", "10.0", "1d", "5*2"): {
        "total sr": 0.729000,
        "in-sample sr": 0.471918,
        "out-sample sr": 1.021087
    },
    ("0.7", "0.7", "0.5", "2.0", "10.0", "1d", "5*2"): {
        "total sr": 0.722146,
        "in-sample sr": 0.320903,
        "out-sample sr": 1.184643
    },
    ("0.6", "0.6", "0.5", "3.0", "10.0", "1d", "5*2"): {
        "total sr": 0.889890,
        "in-sample sr": 0.327398,
        "out-sample sr": 1.437061
    },
    ("0.6", "0.6", "0.5", "3.5", "10.0", "1d", "5*2"): {
        "total sr": 0.614401,
        "in-sample sr": 0.116586,
        "out-sample sr": 1.125970
    }
}

pd.DataFrame(returns_data).transpose()

                             total sr  in-sample sr  out-sample sr
0.7 0.7 0.5 3.0 10.0 1d 5*2  0.816588      0.811953       0.849927
            2.5 10.0 1d 5*2  0.729000      0.471918       1.021087
            2.0 10.0 1d 5*2  0.722146      0.320903       1.184643
0.6 0.6 0.5 3.0 10.0 1d 5*2  0.889890      0.327398       1.437061
            3.5 10.0 1d 5*2  0.614401      0.116586       1.125970